body {
  background-color: black;
  color: white;
  font-family:Courier New, Courier, monospace;
}

div {
  display: block;
}

.canvas {
  width: 400px;
  height: 400px;
}
.board {
  width: 100%;
  height: 100%;
}

.square {
  float: left;
  width: 30.00%;
  height: 30.00%;
  cursor: pointer;
  border-color: white;
  border-width: 2px;
  font-size: 84px;
  text-align: center;
  /*vertical-align: middle;*/
  line-height: 150.00%;
}

.top {
  border-bottom-style: solid;
}

.left {
  border-right-style: solid;
}

.right {
  border-left-style: solid;
}

.bottom {
  border-top-style: solid;
  /*clear: both;*/
}

#newGameButton {
  border-style: outset;
  color: white;
  background-color:black;
  width: 30%;
  height: 32px;
  font-size: 14px;
  text-align: center;
  float: left;
  clear: none;
}

#messages {
  float: left;
  font-size: 20px;
  width: 30%;
  text-align: center;

  /*border: 1px solid red;*/
}
